Source: drnoksnes
Section: user/games
Priority: extra
Maintainer: Javier S. Pedro <maemo@javispedro.com>
Build-Depends: debhelper (>= 5), pkg-config, maemo-version, m4, libsdl1.2-dev,
 libx11-dev, x11proto-core-dev, libxsp-dev, libpopt-dev, zlib1g-dev, gnupg,
 hildon-games-wrapper-dev, libosso-dev, osso-games-startup-dev,
 libhildonfm2-dev, libosso-gnomevfs2-dev
Standards-Version: 3.7.2

Package: drnoksnes
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}, osso-games-startup
Pre-Depends: maemo-select-menu-location
Description: Super Nintendo Entertainment System emulator
 A Super NES emulator. It allows you to play some games designed for the SNES
 and Super Famicom Nintendo game systems on your tablet.
XSBC-Bugtracker: 
 https://garage.maemo.org/tracker/?func=add&group_id=1014&atid=3790
XB-Maemo-Display-Name: DrNokSnes
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2Fy
 ZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAE+VJREFUeNrtW2l0k9eZ/kjSSeKckkwh
 TNPmNC2BdEIJJAFCWAsDgYEpk4aAG7JBIGU3iwHvi2zLlmR5t2VLsiVZq+XdljHe
 bbAxOxgTs68BDEnapp2T0zMzSeg797n65NgeSUgsoT+qc55zLve+932f567v931G
 EP7x+8fvrn7HDu8Vjh/bL5z85Khw/swnwpVL54Tea5eFz25cE774/AZMHu4+3jX/
 7JmTkvPnzlpv9F77pPf6pz1/+uPnt7780xcEoIw6tMEGtuiDvvABX/AJ34iBWIiJ
 2A/813PiiHCOkfr08nmh9/oVVA0xmwp/2H382DsXL5wr+ezm9S//8MVn9IfPb9Ln
 n/US+zfdvHGNbvZepRu9n3KgjDq0wQa26IO+8AFf8AnfiIFYiInYD/x3+dJZ4Tqb
 HfZ7qLWladqli+fqmYj/YTPHBUHgtauX6Mrlc3Tpwmk6f7aHzp4+QWdOHafTJ7s4
 UEYd2mADW/RBX/iAL/iEb8RALMRE7L+H35C62poxbNlW8BlmM9l77QpdvXKBLp4/
 zYWxJUufHD9EbNlS15F9xJYuHT3UQUcOtnOgjDq0wQa26IO+8AFf8AnfiIFYiInY
 D1R4kdX8zMmebt2N3qvf8Jn+9CKfwbOnuoktT+o+doCOHemkzr1tVFtfR8WV1VRo
 Lye9rYyydLYBQB3aYANb9EFf+IAv+IRvxHBunavfIDY4PIiBeGR3a3Pg9auXv3IJ
 x0xhOZ/oOshmspPa97RSaVUN5RmLKbPAdkdAX/hob2/lPuEbMRDLNRDgAC7g9H2J
 /8GB/R2xbI/ecs74GbaHu+kEW7Yg2dzSxGazlAmw3lPAJ3zzgWCxzvAVcYYPBLiA
 E7jdV+UfrfhwaHfXkXJ+qF06R+xKop7uI3zvtu9pIZ21lDLyrfcViIFYiInY4AAu
 4ARu4Hhf9ntOdsbPT5/sPnaVjfjli+KssyV55GAHlbB9m661fK8oqajmscEBXMAJ
 3MARXO/luTAkOir8p6d6jvew+5ftv1N0uqeLH057O9pIay5mhMwPBIgNDuACTuAG
 juAKzvdkEJa8/dZT3V2HDmGEL5w7ya+n40f3U1tbM2WxvZmmMfsFtcFCFruNyiuK
 aKfDzoEy6jSFFr/9gQO4gBO4gSO4gjO4363+R/e2t9pw6iJJQYCuo/uoqbmRz0Cq
 2uQXtEYzVVfZyFFlocpyI5WXGjhQRp2j2kZmm4WJ8s83uIATuIEjuIIzuEPDHV91
 ZSW2DRhRlnYOmPk0jYlS8ox+QVNooqpKCxXb9ZSZbySZuoTi1A4OlFGHNgyErdjC
 /u1fDHBqbWvqWwngDO7QcCdX5JDoyLDxp3q6/gpHp3qO8Qytg93H6VoTKfMK/QLE
 l5eZSGfQ0mZZIS0NyadfLYmnp2YGc6CMOrTBpqrCTCab2e844AaO4ArOTu5df4UW
 f8+DgLbWhsazp7v54YKT9jA7cXMLbZScW+gXcvVsqZebyWLW0sL1qTTxAyUFTNtG
 woSgAUAd2mADW6wWlc7ofzzG8fAB5+0A7tAALdDkq/iHc3MyAk+fdD6sIC9HSmot
 rSCFyuAXVEx8VaWVSov1tCpUTi8skVHAzDASXgt2C7TBBrboU2gx+R0TAFdwBnfn
 A9dxgiZo82UAnuxsb+nBEkIOjj21e3czc6wneY7vyGWzt7PGzve0xaSmF96Mpmf/
 U0bC62FeARvYoo+92ORXTBfAFZzBHRqgBZqg7bazn6qUv3uSdTp54ihfRnhKy9Vb
 SZat8xlY9rVM/K6ddn7C6wuy6OFp4fTEHCkJ02K8ImBOAj08NZz3KSst9Ctuf6j0
 Fs4dGqAFmqDtdqtgaHPDzv093Yf58kG6WddQR0lZBT4jO9/QJx7ANadRp9HDU7Y7
 Rc6Uegez+aep23mfErYN/Ik9GOAODdACTdAGjR5P/sCliyewrOoWOiC7OnpoLx/J
 xMx8n5Cu1vNl7xLffwB+OncrCVPCSZid7B3M5tk3tvI+JrPO59juAO7QAC2iplvQ
 6OlGeNSo12TA2PlIu4/d+U0kzdD6hJTcApbIFA0Q79oCuvxMWvAhO+gmbXaKnJvh
 HmhjNrDFFtDqC3yO7wnQAC3QBG1GvTbDU3I0vLHOcQZ3KID9YykupYR0zW0hz87n
 Gd5g8QAOQbMpjxRyCQ1//SMmkK2EOUzsvNyBQB1rgw1sTYW5lKbS+BTfG6ABWly6
 oBFa/9/yH/Piv449tH/P18dZOokRw2sqpUpH8Wlqr0jK1FCVB/HAToeNX2lY0jvC
 QmjY+EUkjH2fhOmxJLyRxZDtLLM6tMEGtrkaNUlS2CDkFZDBbKTSMgvVOIo4UEZd
 hrrgtvygAVr46zam7fCB9m+hdfA2eCRJKglyGnayEetk10gTSVLzvEKereX3fE21
 lWVvJpZ2Gqi4qIADZdRhBVRXmqnIqmV3cTJJYsNo9qJA+slLs0n4yWscz4ydRbN+
 s5S3wcbErkBpuooy1flUWWHx6LuaJUs6o4FkWRqvPKHF+c6xkw9GkjR20+D0+Ida
 dbYRLyidLyz3Unl1FcWyGfCEpEw1VVQ4hVuZuFRzHklL9CSptnCgjDq04RyoLDfx
 QcDspiTHUZwklCIjgjlQRh3aLGYNyTJUbHa1VFFmpCKLhipys6lZlUuH8vI5UEYd
 2hDfaDVyPp64Qgs0QRs0Qis09x+AEcW2wgPfDUAHGax2ilGqPKLAqOcE1fosCjJk
 0lKtnH4Vt4Ge2voOB8qoQxtsytmdjpWA7YAzAQcjBAMoo85u11FCWg6l52nYFVhI
 Zm0m1SckUfP2SCpd/C4VTn+DA2XUoQ024AE+nrhCi+vNMzTarYYD0Nx/AJ5zVJZc
 OXxgDx8pGGdqDBStyHGLlBw1D2owZNO/K8NoonwbBWwJJGH9mwOAOrTBBrZYCdgu
 7h6HK9nzQlJ6LvcN8UZdNpWt3kCOd1eS6fV/I/3LUwcAdWiDDWzBB33d8c3UFnJN
 0AaN0ArN/QdgdGNd9X8d2r9bNGT7JENDUfJst9DqdHw5v5+4g16QbqSA7ctI2LTY
 LdAGG9iiDwZg8EGJxEmZrWYC2HIvd54X+Zs2kuO375B9yhyyvDLNLdAGG9iiD3i5
 4wstLl3QCK3Q3H8AxrQ27frfg/va+j5WxCTnUIQsyy3MFh0V5GfQyJDl9GzcWhKC
 l3oFbGCLPtizA8UXkTJHzWcPJzzaYWecv4h2LlhMpa/O8ArYwBZ9wMsdX0mKqk8X
 NEIrNPcfgHHtuxto/96WPsPwpEyPsBfpKTtTTg8FB9IT0StICF3mFQFRK5jtUt4H
 J/h3V2QRKbLyKFWlZhmkM4lCO+yKmbja6fPIMWGmV9ROm0f2V6fzPuDljm+kPKtP
 FzS2t9UTNPcfgPG7W+poX0czXyIwDEvM8AirNZ9SU+LpoaC3SAh5h4TI972D2fxg
 41u8D64xLr4G4nM5amu+yyDRDjvj+ClUzQahYeIsr4BNITsT0Ae83PGNkGVyTdAG
 ja1Ntd9C84ABaKir+nrvnkZuhIMiknUKlaa7RYEujwccsZoNwJYlJEhWeAezGbFm
 cd8AYKmn5LBrk534WAX9t4RrADImzyD7uCm0e9JsryhmAwVb9AEvd3yjFdl9AwCN
 dbUV/z14BYyrrij+CtsAewQDgH2zIyHNLTJV2ZSVKaPpq39HwprfMJHLSUhc5R5o
 YzawdS1TzLpEmeU2fcYWgO+oRYtIO2YitbFZ3v/aHLdAG2xgC9/g5Y4vtEATtEFj
 VYUdh+DYAYegxVTQi22APQLjZJblbY9LdYu45HR2f6dTSOhmejJwDhPI0lvpShIU
 qwcCdawNNrBFn8RUtieTMqiy0uo2deaHoDaDwkM2UeTYVyj/xQm0j830sclzBwB1
 aIMNbOEbvNzxhRZogjZohNbBh+BoVVbaidamnX3ngMZgpm2SFLfYGpNMyvQ0vuw+
 Wruchs6dRMKSX5OwPdA560kfO8usDm2wUSbHU2yigkLjU1h6a/X47IBr0mbRct9B
 qz6g5c//kmJ+8SJVsO1wgIk+yIAy6tAGG9iCD3i54wstzv3fQtAIrYOvwediosJq
 muod5DoH7KVlFByr9IBkCo1LpuRUJcmTomnd+pX08vwZ9KPXxpLwymiOf2Zl1KFN
 lhhNUfGJFB6v5Pf87Z4dkBgV6nO4743rVtLbUybTgp+PpIXDfsyx4LmRvA5tsNFq
 Mjkf8HLHF1pc+x8aJTHhuwYnQiM+/OBdZX1tJe1praMDna3U0tJAW9iIesLmaAVt
 j5WTVCHjsxsetoXWM0IrP3qXA2XUKRRxFBobTzskciotNXGRdquGamyp1FmZSj0N
 6Rwoow5tziyxkA8CZteTb37w5bO7XqrkfDxxhRbsf2iDRmhlmv9lwMPQ08OHv8lS
 xG9aGnfypYIRi2B7FY49YVOUnDaESylUkkiSRCklyuIoWSHhQDmW1QVHJXCbHI0z
 fbYa0qmjKIoOWTdSS/p8qpW8zIEy6tAGGwwABgLbAWcCDsZUZTwHyqgzs6dGDCx4
 eOIIDa7lD201VSW3oHXwwxAeDSdq8jKvN+yqoo7dzm2g1pu4c++Q0caIJFoflkBr
 d8TR6m0xHCijDm0SBRPExJsMWdSc9yF1qt+ihvhxtCt69ACgDm2wga3rk5m77YIX
 phGJKTy+N37QAC3QhNmHRqZ10uDHYbwcGLU5aJ1jZ3UptTbX8hOzoXEXBUXK7hrZ
 mjyeq1tSV9N+1ULaLX+VWhLGuAXaYANbT88OSKIkyRk+xYYGaIEmaNu0cZ0DWt29
 Fxw+etTzq6vKi/7GHhb6DsO4lGw+i3eDQmM+z9VrZXPocO486lSM9wrYwNbdswPE
 xzHxvsSVKLP7Dj+sbGiDRnevxATxReHUVGXSpZrqEmpr3sUPw8rqSraHE+8K9iId
 T1Q6FBOoSzWDjmZM9IqunOnUzmwHPzsgg4xVpPkcF9yhAVqgKUWReAEaPb0UxZIY
 ueg/FqgqSq18v7jOgihZBq0Lk94xrOK93pg4kY5kTqaT6qleAZt66aSBzw5MfIw8
 zeeY4Nx/70PTwgXzspnGX3j7UIpPRwvT0xQ3qyvs/NTE/qlvqOVO14Ym3BE0+Sou
 xhTJZlY5mS4Zfu0VHSmTyRw5o28A8HcD8cp0n+OBa1298xyDBmiBJqZtgbcPI4L4
 2eiXc+fMVpXYTVTrKOOPjrhDszQ6WhMSf0dQZqTzqytp6yJySCbRRcNsumGb6xZo
 gw1snc8OOr7s/YkHrjzvZ9yhAVqgCdp8+UCKVbCAZYbnyootfPngENm3t5XCE1Np
 Na46PxEWJ2PXTxpFhG0m5bqJVBM/mXpt8+jL8gUDgDq0wQa2atYniqXPfsWSpnCu
 4Azu0AAt4uzf9uOoaxWMHDXq+UiDLu9r7B2kj0gkmtiVgqTm99slfmFVcAxJkxV8
 SW/e8AFtXDyGstaPo4NZs+gz+0L6vHghL6MObbBRihkk+voaB9zAkXNlnMEdGqAF
 mnz9PC6If0ww7a3fLqqymnS4PvhDBPZUzU4HrWXL7ONtEj8QS+tDJZSULOO5e9CG
 lbRs0RRaPGs0Bc58lgNl1KFNlhhFO6JiaMXmSN7Xlxjg5Kipdt75jCs4gzs0QIs/
 fyDhuhHw2njxlk3re+DIUVncdzWWVVbQGrbcVgXH+oyVW5EdxlCsVMpS5TjPzw5y
 CW0Ji6IVmyJ4H198gws4QTw44tADZ3CHBlGL338yh1RxZMDjj6+Nj4u62X8QnCuh
 ms1qAq0CSR+xcks0rQiKoM1hMRQliSVpooQLBlCOjI2lddsiuA1sffEJDuDiEg+O
 4ArO4C4u/Tv+O2IkDC8NG/ajiGR5wl/MLKPrvx0a2X4LiU9mMxXtF7C0lweF0wcb
 Qui9dds5UEYd2nz1g9iNrlRXXPbgqEiK/zM4g/vd/Jlc//Ng0jPP/FgqT4z7s8mg
 JdfB2NnexE/ctFwtfcRm7PsEYiI2OLgOPHADR3AVH3gChHvwGyI+Or7+5NChsXEx
 EV/oC/KopMjIMrRyftfiXKitddB2iYLNYNR9BWIgFmIiNjiACziBGziCq8j53v29
 sOhw0mOPPbZj4/o1Z3VaFZkK8QHTRo311TzlRPJRXFZKIXEKvpTvJeATvhEDsRAT
 scEBXMAJ3MSZv6fi+w9CgPg6+ffz35jTlKfK+BbBcejg5G1uqOEJCEjW7qrhy3Rd
 aDwt3xR5R0Bf+IAv+IRvxHCd8ogNDuACTiK3AOE+/w+SR8WTdfHwYcPS1q35+Hy+
 OvsWyNgsen4KY0+6vjTxb3HsoDKYLZSclUfhLFPbFiOnD9lJ3x+oQxtsYIs+6Mu/
 5DBf8AnfiIFYiInY4CBedSPvxYHnzxX5NMNkjPyo50catm0JugpigMVUQOUlFp6H
 gzjexfF0mmVomEnXxxfX5yqUUYc22MAWfdAXPuALPl3+EQsxxVmfLHL53v7LTP8t
 8RjDzxhmMWwcP/6l4rCQ4Jsuoq5zothm5PvVUVXCDy28cMFSxpMagDLq0AYb2KKP
 a3+7AN+IgVhizJ+JHB7s/x5jeEJcgvMYNo94erj6d4FvH42NDv9jgSbnb/1FACw/
 J6New68tAGXUDbZDX/iAL/iEbzHGSDHmAxXOf2zpCmzZoviQePrihQPeuixjCAkI
 eDxz5vSp9e8tCzy+acPay0kJsX9JliV8NVgs6tAGG9iiD/rCh+hrqugbMR5CTMT+
 e/wNEQ8j7MtR4rWER9H3GPC3++EM8Qx4N58uQinWhYs274l9Jok+nhZ9PvgZv4PB
 eESctRHinsUnqRfFK+tlEePEutGizQixzyP3W/T/Acp1tM4pT5zpAAAAAElFTkSu
 QmCC

Package: drnoksnes-dbg
Architecture: armel
Section: devel
Depends: drnoksnes (= ${Source-Version})
Description: Debug symbols for the DrNokSnes emulator

